path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: None;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis text {
    fill: lightgrey;
}
.tick line{
    opacity: 0.3;
}

svg text{
    fill: lightgrey;
}

.area {
    fill: #546e7a;
    stroke-width: 0;
    opacity: 0.8;
}
